
/* 
.container {
    width: 70%;
    margin: auto;
} */

/* .container_main {
    height: calc(100vh - 120px);
} */

/* .row {
    display: flex;
    justify-content: space-between;
    height: 100%;
} */

img {
    max-width: 100%;
}


.col-btn {
    display: flex;
    align-items: center;
}

.col-btn button {
    margin-left: 1rem;
}

header {
    height: 70px;
}

.container_main {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.box_facile {
    border: 1px solid;
    width: calc(100% / 10);
    aspect-ratio: 1;
}

.box_medio {
    border: 1px solid;
    width: calc(100% / 9);
    aspect-ratio: 1;
}

.box_difficile {
    border: 1px solid;
    width: calc(100% / 7);
    aspect-ratio: 1;
}

.bg-lightblue {
    background-color: paleturquoise;
}



/* footer */

footer {
    height: 50px;
    background-color: aqua;
}